@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

header {
    background-color: #1a1a1a;
    grid-column: 2 / -2 !important;
    padding: 20px 0;
    display: grid;
    grid-template-columns: subgrid;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35pt;
    font-weight: 200;
    text-align: center;
    margin: 0;
    grid-column: 1 / -1;
}

h1 .site-name {
    display: block;
    color: rgb(47, 255, 54);
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

h1 .site-tagline {
    display: block;
    color: #888;
    font-size: 0.35em;
    letter-spacing: 0.3em;
    margin-top: 5px;
    text-transform: lowercase;
}

.page-title {
  color: hotpink;
  border-bottom: 1px solid dimgray;
}