@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

header {
    background: linear-gradient(to right, 
        transparent 0px, 
        rgba(31, 31, 31, 1) 300px, 
        rgba(31, 31, 31, 1) calc(100% - 300px), 
        transparent 100%);
    grid-column: 1 / -1 !important;
    padding: 20px 0;
    display: grid;
    grid-template-columns: subgrid;
    width: auto;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: inherit;
    grid-column: 1 / -1;
    display: block;
}

header a:hover {
    opacity: 0.8;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35pt;
    font-weight: 200;
    text-align: center;
    margin: 0;
}

h1 .site-name {
    display: block;
    color: rgb(47, 255, 54);
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

h1 .site-tagline {
    display: block;
    color: #888;
    font-size: 0.35em;
    letter-spacing: 0.2em;
    margin-top: 5px;
    text-transform: lowercase;
}

.page-title {
  color: hotpink;
  border-bottom: 1px solid dimgray;
}

footer {
  color: rgb(100, 100, 100);
}