.posts-container {
  display: grid;
  grid-template-columns: 500px 250px 250px;
  gap: 30px;
  grid-column: 3 / -2;
  justify-content: space-between;
  margin-top: 20px;
}

.featured-post {
  grid-column: 1 / 2;
  justify-self: start;
}

.featured-post img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.featured-post h2 {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.2;
  color: darkorange;
  cursor: pointer;
}

.featured-post h2:hover {
  text-decoration: underline;
}

.featured-post .post-date {
  color: #777;
  margin: 0 0 20px 0;
}

.featured-post .post-summary {
  margin: 0;
}

.older-posts-column {
  display: flex;
  flex-direction: column;
}

.older-posts-column.column-2 {
  grid-column: 2 / 3;
  justify-self: center;
}

.older-posts-column.column-3 {
  grid-column: 3 / 4;
  justify-self: end;
}

.older-post {
  margin-bottom: 30px;
}

.older-post img {
  width: 250px;
  height: 175px;
  object-fit: cover;
  margin-top: 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.older-post h3 {
  margin-top: 0;
  margin-bottom: 2px;
  line-height: 1.2;
  color: darkorange;
  cursor: pointer;
  font-size: 1.1em;
}

.older-post h3:hover {
  text-decoration: underline;
}

.older-post .post-date {
  color: #777;
  margin: 0;
}

.archive-link {
  color: darkorange;
  text-decoration: none;
  font-weight: bold;
}

.archive-link:hover {
  text-decoration: underline;
}

article blockquote {
  border-left: 4px solid #404040;
  margin-left: 0;
  padding-left: 10px;
  color: #c86baa;
}

article th:nth-child(n+2), 
article td:nth-child(n+2) {
  padding-left: 10px;
}
