article {
  display: grid;
  grid-template-columns: 200px auto;

  grid-column: 3 / -2;
  grid-row: auto;
  gap: 20px;

  margin-bottom: 20px;
}

article header {
  grid-column: 1 / 2;
}

article header h2 {
  margin-top: 14px;
  margin-bottom: 8px;
  line-height: 1.2;
  color: darkorange;
}

article header p {
  color: #777;
  margin: 0;
}

article section {
  grid-column: 2 / 3;
}
